*{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
}
html,
body{
  background: url('../img/slide-img1.jpg');
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
#home{
  background: url('../img/slide-img1.jpg');
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}