<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: 'Lato', sans-serif;
    }

    html,
    body,
    header,

    #home {
      background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.753)), url('../static/img/car5.jpg')no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.9;
    }
  </style>

  <title>Car Price Prediction</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand text-white" href="#" style="font-size: 30px;">Car Price Prediction</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item active">
            <a class="btn btn-social-icon btn-github mx-2 " href="https://github.com/arvindzagade">
              <span class="nav-link fab fa-github text-danger" style="font-size: 20px;"> GitHub</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="btn btn-social-icon btn-linkedin mx-2" href="https://www.linkedin.com/in/arvind-zagade-abb282a1/">
              <span class="nav-link fab fa-linkedin text-danger" style="font-size: 20px;"> LinkedIn</span>
            </a>
          </li>

        </ul>
      </div>
    </nav>
    <!--Mask-->
    <div id="intro" class="container-fluid view ">
      <h1 class="text-center text-capitalize pt-5 text-danger">Car Price at one click!</h1>
      <hr class="w-75 mx-auto pt-5">
      <div class="row mb-5">
        <div class="col-lg-2 col-md-2">

        </div>

        <div class="col-lg-6 col-md-6 col-12">
          <form action="{{ url_for('predict')}}" method="post">
            <div class="form-group">
              <!-- TODO : Year to accept only year date picker -->
              <label class="text-warning" for="year">Purchase Year</label>
              <input class="form-control" type="number" id="year" name="Year" required="required"
                placeholder="The year in which the car was bought.">
            </div>
            <div class="form-group">
              <label class="text-warning" for="presentPrice">What is the Present Ex-Showroom Price?(In lakhs)</label>
              <input class="form-control" type="number" step="any" id="presentPrice" name="Present_Price"
                required="required" placeholder="The current ex-showroom price of the car">
            </div>
            <div class="form-group">
              <label class="text-warning" for="kmsDriven">How many Kilometers driven till date?</label>
              <input class="form-control" type="number" id="kmsDriven" name="Kms_Driven" required="required"
                placeholder="The distance completed by the car in kms">
            </div>
            <div class="form-group">
              <label class="text-warning" for="owner">Number of owners the car has previously had (0 or 1 or 3)</label>
              <input class="form-control" type="number" id="owner" name="Owner" required="required"
                placeholder="0 or 1 or 3">
            </div>
            <div class="form-group">
              <label class="text-warning" for="fuelType">What is the Fuel Type ?</label>
              <select class="form-control" id="fuelType" name="Fuel_Type" required="required">
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
                <option value="CNG">CNG</option>
              </select>
            </div>
            <div class="form-group">
              <label class="text-warning" for="sellerType">Are you a Dealer or Individual ?</label>
              <select class="form-control" id="sellerType" name="Seller_Type" required="required">
                <option value="Dealer">Dealer</option>
                <option value="Individual">Individual</option>
              </select>
            </div>
            <div class="form-group">
              <label class="text-warning" for="transmissionType">Transmission Type </label>
              <select class="form-control" id="transmissionType" name="Transmission_Type" required="required">
                <option value="Automatic">Automatic</option>
                <option value="Manual">Manual</option>
              </select>
            </div>
            <button type="submit" class="btn btn-danger">Calculate your Car's Selling Price</button>
          </form>
        </div>
        <div class="col-lg-4 col-md-4 col-12 my-auto">
          <h3 class="text-warning">{{ prediction_text }}<h3>

        </div>

      </div>


    </div>

    <!--/.Mask-->
  </header>

  <!--Footer Section-->
  <footer class="bg-dark">

    <div class="container">
      <div class="row">
        <div class="col text-center">

          <div class="pb-2">
            <a href="https://github.com/arvindzagade"><i class="fab fa-github fa-2x text-white mt-3 mx-2"></i></a>
            <a href="https://www.linkedin.com/in/arvind-zagade-abb282a1/"><i
                class="fab fa-linkedin fa-2x text-primary mt-3 mx-2"></i></a>
            <a href="https://www.kaggle.com/nehalbirla/vehicle-dataset-from-cardekho"><i
                class="fab fa-kaggle fa-2x text-muted mt-3 mx-2"></i></a>


          </div>
          <p class="text-danger ion-social-github m-0">&copy;Made by Arvind</p>
        </div>
      </div>
    </div>
  </footer>


  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>